@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Shorten Url";
}

@model UrlShortener.Models.AppUser

<div>
    <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" class="form-inline mb-2">
        <button type="submit" class="btn btn-dark">Logout</button>
    </form>
    <table class="table table-striped table-bordered w-auto">
        <thead>
            <tr>
                <th scope="col">Original Url</th>
                <th scope="col">Short Key</th>
                <th scope="col">Expiration Date</th>
                <th scope="col">QR</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                @foreach (var url in Model.Urls)
                {
                    <tr class="align-middle">
                        <td>
                            <span id="view-url-@url.Id">@url.OriginalUrl</span>
                            <div id="edit-url-@url.Id" style="display: none;">
                                <input type="text" id="edit-url-input-@url.Id" class="form-control" value="@url.OriginalUrl" />
                                <button class="btn btn-success mt-2" onclick="saveEdit('@url.Id')">Save</button>
                                <button class="btn btn-secondary mt-2" onclick="cancelEdit('@url.Id')">Cancel</button>
                            </div>
                        </td>
                        <td>@url.ShortenedKey</td>
                        <td>@url.ExpiresOn.ToString("yyyy-MM-dd")</td>
                        <td><button class="btn btn-dark" onclick="displayQrCode('@url.ShortenedKey')">View</button></td>
                        <td>
                            <button class="btn btn-dark" onclick="enableEdit('@url.Id')">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="qrModal" class="modal">
    <div class="modal-content">
        <button class="close-button btn btn-dark" onclick="closeModal()">Close</button>
        <div id="qrCodeContainer"></div>
    </div>
</div>

<script src="~/js/profile.js"></script>

